@import url('https://fonts.googleapis.com/css?family=Inconsolata');

.main-container {
  color: purple;
  font-family: 'Inconsolata', arial;


}

img {
  height: 350px;
  width: 550px;

}

#header {
	text-align: center;
}